@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(244, 235, 245);
}

.titmain {
    margin: 1.5em 0em 0em 0em;
}

#tit1 {
    margin: 1em 0em;
}

.weergavediv {
    margin: 4em 0em;
}

.knoppie {
    margin-top: 2em;
    background-color: #FF9D01;
    border: 0px !important;
    border-radius: 2px;
    color: #FFF;
    font-size: 1.5em;
}

.knoppie:hover {
    background-color: #1870A0;
}
#basimage {
    height: 15px;
    width: 15px;
}

.wrapperdiv {
    background-color: #5E9BBE;
}

#imagemain {
    width: 95%
}

.wrapperdiv2 {
    padding: 1em;
}

.knoppie2 {
    margin: 3em 0em;
    padding: 0em 2em;
    background-color: #5E9BBE;
    border: 0px !important;
    border-radius: 2px;
    font-size: 24px;
    width: 100%
}

.knoppie2:hover {
    background-color: #FF9D01;
}


.tabelweergavediv {
    margin-bottom: 2em;
}